.nav{
    background: transparent;
    
}
/* Inicio jumbotron */
.jumbotron {
    background: url("https://lh3.googleusercontent.com/G6UCgd67Dz4O3d644pj7-N-V-j1QY8kAd-uEOMD98c9lGoFUxgWOOlKTaTELYdJgTlqKNll8mn3WNJi0FDvHMTcmG9lWfqKJXtrj-JuDGEFvy3TI2iJoq7TNYvYYWJlY26RCvB4DyNM6FHTzA7klq_NOQyKXAUipZ8ZuSdceJdyV6tnGrvALCqTvQKfyAVfLVqWFGjryQvWHMZCRGYNK2pwEo3i6MXSIPCJ9OkJdZ9YOqF3ZWoM_1u8Lpuo1CP9ANMCVGVlebLXjfG3ObE5EA6zdZhpMuPC3qA1KjyG4RTSkcKE3Kc034qpDTuxKlFNpfn8qLWHFxHDwtUxX3_2zEbKVqbD6KXSNAEm2eWubqNnKJw5zRb6tTvdb3o4Mip8KjwS7qdsWYWL6eUhmFJCeKL3UJenPQxUKUYtJp6Fz0pKAqWcVwh696s597sJW6_2-Lyn0nfYLYMd5bdKCf9eaeOZxqxXfb4-QNM7FRZ3ElfB0-eam_hnSl_DkAkbnaouuoyRlB9Mjyu7Y8pQl9gJLyug27fHAxaXdMfKGyE3u7zGi4kWt3fFH6Ouw0WIbxrPPIupNjLSo4OrcsmDToM6--dyi4LtMAKGqUsQh2Y7UDbHIXLVs8H8-wsIBTTVlekuJWFhgJ54mQg32JgM34rgq_uaUDQnFSE9jKOxegQr21OcF8aK5kntF7w=w1107-h664-no");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height: 126vh;
    overflow: hidden;
    color: #eee;
    margin-top: -245px
}
.jumbotron h1{

margin-top: 55vh;
}

@media (min-width:320px) { 
    .jumbotron{ height: 116vh;
    background-size: cover;; }
}
@media (min-width:480px) {
    .jumbotron{ height: 122vh; }
}
@media only screen and (min-width: 1200px) {
    .jumbotron{ height: 129vh; }
}
@media only screen and (min-width: 1366px) {
    .jumbotron{ height: 129vh; }
}
/* Fim jumbotron */

/* Serviços */
.service-list{
	padding:0 0 0 0;
	font-size:12px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;	
}
.main-section.alabaster{
	background: black;

}
.imgservice{
    width: 100%;
}


/* Fim dos Serviços */
